<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>
    
    <module name="TreeWalker">
        <!-- Configure checks here -->
        <module name="JavadocMethod"/>

    </module>
    <module name="SuppressionFilter">
        <property name="file" value="D:\Assignment\Capston Project (Assessment Plateform)\Backend\AssessmentPlatform\checkstyle_suppressions.xml"/>
    </module>
</module>