/* Login.css */
body {
  background-color: #fcde57;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  width: 420px;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #222;
  font-weight: 800;
}

.form-group {
  margin-top: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-submit {
  display: grid;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.login-submit button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #09a122;
  color: white;
  cursor: pointer;
  /* transition: background-color 0.3s ease-in-out; */
  &:hover {
    background-color: #0e6b11; 
}
  
}
.link-primary {
  cursor: pointer;
  color: blue;
}
.text-center {
  text-align: center;
  margin-top: 1rem; 
}

.toast-success {
  background-color: green;
  color: white;
}

.toast-error {
  background-color: red;
  color: white;
}


