.category-wrapper {
    
    box-sizing: border-box;
}

.category-container {
    
    display: flex;
}

.category-column{
    flex: 1;
    padding: 5px;
}
.category-card {
    box-shadow: 3px 3px 5px 5px #939fd4;
    margin-top: 15px;
    border: none;
}

.category-card-header {
  
    background-color: #f8f9fa;
    padding: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-card-header h3 {
    margin: 0;
}

.category-card-body {
    padding: 1px;
    
}

.category-table-wrapper {
    overflow-x: auto;
}

.category-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d4c5c5; 
}

.category-table th, .category-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.category-table th {
    background-color: #f8f9fa;
}

.category-table-secondary th {
    color: white;
    background-color: #101885;
}
.add-category-button{
    text-decoration: none;
    margin-right: 0.5rem;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #05a805;
    color: white;
    cursor: pointer;
}
.button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.button-edit {
    background-color: #17a2b8;
    color: white;
    border: none;
}

.button-delete {
    background-color: #dc3545;
    color: white;
    border: none;
    margin-left: 5px;
}

.button:hover {
    opacity: 0.8;
}


/* Media query for small screens */
@media (max-width: 768px) {
    .category-container {
      flex-direction: column; 
    }
  
    .category-card {
      width: 100%;
      margin-left: 50px;
    }
  
    .category-card-header {
      padding: 20px; 
    }
  
    .add-category-button {
      width: auto; 
      margin-top: 10px; 
    }
    
  }
  