.class-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to right, #f096a2,#FFDDE1);
}

.container {
  max-width: 650px;
  padding: 28px;
  margin: 0 28px;
  background-color: white;
}

.title {
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  color: #2f4f4f;
  padding-bottom: 8px;
  border-bottom: 1px solid silver;

}

.container .title::before {
  content: ' ';
  position: absolute;
  height: 5px;
  width: 50px;
  left: 0;
  bottom: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.input-box:nth-child() {
  justify-content: end;

}

.input-box label,
gender-title {
  width: 95%;
  color: #2f4f4f;
  font-weight: bold;
  margin: 5px 0;


}

.gender-title {
  font-size: 16px;
  width: 95%;
  color: #2f4f4f;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 20px;
}

.input-box input {
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.input-box input:is(focus, :valid) {
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2);

}

.gender-category {
  padding-bottom: 15px;
}

.gender-category label {
  padding: 0 20px 0 5px;
  font-size: 14px;
  flex: 0 0 auto;
}

.gender-category label,
.gender-category input {
  margin-right: 10px;
  cursor: pointer;
}

.alert p {
  font-size: 14px;
  font-style: italic;
  color: dimgray;
  margin: 5px, 0;
  padding: 10px;
}

.alert a {
  text-decoration: none;
}

.alert a:hover {
  text-decoration: underline;
}

.button-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #0e0b0b;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f096a2,#FFDDE1);
}

.button-container button:hover {

  background-image: linear-gradient(to left,
      rgb(240, 171, 194),
      rgb(28, 165, 142));

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@media(max-width:600px) {
  .container {
    min-width: 200px;
  }

  .content {
    max-height: 380px;
    overflow: auto;
  }

  .input-box {
    margin-bottom: 12px;
    width: 100%;
  }

  .input-box:nth-child(2n) {
    justify-content: space-between;

  }

  .gender-category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}