/* Login.css */
body {
  background-color: #abc6e6;
}

.login-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.555)
    ),
    url("../../Assets/Login-SignUp/work.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
 
}

.login-form {
  width: 420px;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: whitesmoke;
  margin-top: -120px;
}

.login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #222;
  font-weight: 800;
}

.login-form-group {
  margin-top: 1.5rem;
}

.login-form-control {
  width: 100%;
  padding: 6px;
  line-height: 1.9;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}



.login-submit {
  display: grid;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.login-submit button {
  margin-top: 15px;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #09a122;
  color: white;
  cursor: pointer;
  
  &:hover {
    background-color: #038d08; 
}
  
}
.login-link-primary {
  cursor: pointer;
  color: blue;
}
.login-text-center {
  text-align: center;
  margin-top: 1rem; 
}

.login-error-message {
  color: red;
  border-color: red;
  font-size: 0.85rem;
  font-weight: 500;
  height: 20px;
  margin-bottom: -25px;
}

.login-error-field {
  border-color: red;
}


.login-p{
      margin-bottom: -40px;
      font-size: 30px;
      text-align: center;
      color: white;
      font-weight: 800;
      
      letter-spacing: 5px;
  
}