/* Registration.css */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.555)
      ),
      url("../../Assets/Login-SignUp/work.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.registration-form {
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
    padding-top: -10px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: whitesmoke;
}

.registration-form-content {
    padding: 9%;
}

.registration-form-title {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 24px;
    color: #222;
    font-weight: 800;
}

.registration-form-group {
    margin-top: 1.5rem;
}


.registration-submit {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
}

.registration-submit button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: -30px;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #09a122;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #038d08;
    }

}


.registration-link-primary {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

.registration-link-primary:hover {
    color: #004085;
    text-decoration: underline;
}

.registration-text-center {
    text-align: center;
    /* margin-top: 1rem; */
}

.registration-form-control {
    width: 100%;
    margin-top: 18px;
    padding: 6px;
    font-size: 1rem;
    line-height: 1.9;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.registration-form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.registration-link-primary {
    cursor: pointer;
    color: blue;
}



.registration-error-message {
    color: red;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: -20px;
}

.c {
    border-color: red;
}
.main-column{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.col1{
width: 49%;
}
.col2{
    width: 49%;
}