.report-wrapper {
  flex-direction: column;
  align-items: center;
}

.report-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.report-column {
  margin-left: 159px;
  margin-right: -6px;
  width: 100%;
}

.report-table {
  width: 108%;
  border-collapse: collapse;
}

.report-table-head {
  background-color: #0a0881;
  padding: 11px;
}

.report-table td {
  background-color: #d4c5c5; 
  padding: 11px;
  text-align: center;
}

.report-table th {
  color: white;
  background-color: #030172;
  padding: 11px;
}

.report-row {
  align-items: center;
  border: 1px solid white;
}

.report-card-header {
  
  background-color: #f8f9fa;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
}

/* .report-row:nth-child(even) {
  background-color: #f0f0f0; 
}

.report-row:nth-child(odd) {
  background-color: rgb(212, 200, 200);
} */

@media (max-width: 768px) {
  .report-column {
    margin-left: 52px;
    margin-right: -6px;
    width: 100%;
  }
  .report-card-header {
    width: 128%;
  }
}
