.add-category-wrapper {
    margin: 0 auto;
    display: grid;
    gap: 5px;
}

.add-category-container {
    display: flex;
}

.add-category-column {

    flex: 1;
    padding: 5px;
}

.add-category-form {
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-left: 500px;
}

.add-category-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.category-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #222;
    font-weight: 800;
}

.category-form-group {
    margin-top: 1.5rem;
}


.category-form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .error-field .category-form-control {
    border: 1px solid red;
} */

.category-error-message {
    color: red;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .category-error-field {
    border-color: red;
  }


.category-form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.add-category-button-container {
    display: flex;
    margin-top: 1.5rem;
}

.category-submit {
    display: grid;
    gap: 0.5rem;
    margin-top: 1.5rem;
    padding: 30px;
    
}

.add-category-submit-button,
.add-category-cancel-button {
    
    flex: 1;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #09a122;
    color: white;
    cursor: pointer;
    

    &:hover {
        background-color: #0e6b11;
    }
}


.add-category-submit-button{
    margin-left: 1rem;
    margin-right: 10px;
}

.add-category-cancel-button {


    background-color: #ff0000;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    &:hover {
        background-color: #7c0f0f;
    }
}

.text-center {
    text-align: center;
    margin-top: 1rem;
}

@media(max-width : 768px)
{
    .add-category-siderbar-column{
        height: 100vh;
    }
}

@media(max-width : 700px)
{
   .add-category-form {
       width: 300px;
       margin-left: 17%;
        
    }
}